.App {
  text-align: center;
}



.button-calc {
  color: black;
  background-color: white;
}

.button-calc:hover {
  color: white;
  background-color: black;
}

td {
  width: 40px;
}

.buttonera-container {
  text-align: center;
  display: inline-block;
}