body {
  background-image: url("./img/desk.jpg");
  background-size: 200%;
}
.App {
  text-align: center;  
}

.calculator-container {
  background-color: rgba(2, 2, 2, 0.70);
  color: white;
  border-radius: 6px;
  padding: 5px;

  max-width: 280px;
  margin: 0 auto;
}


.display-container {
}

.display {
  background-color: rgba(255,255,255,0.90);
  border-radius: 1px;
  color: #444;
  text-align: right;
  padding: 0px 5px 0px 5px;
  font-family: 'Roboto', sans-serif !important;

  min-height: 66px;
  width: 100%;

  box-sizing: border-box;  
}

.pure-table, .pure-table td {
  border: none;
  padding: .5em;
  text-align: center;
}


.pure-table {
  width: 100% !important;
}


.calc-text {
  font-family: 'Roboto', sans-serif !important;
}
/*
.big-display-container {
  width:100%;
  margin-left:auto;
  margin-right:auto;
  text-align:right;
  overflow:hidden;
  white-space: nowrap;
}*/

.big-display {
  font-family: 'Roboto', sans-serif !important;
  font-size: x-large;
  padding: 5px 0px 5px 0px;
  width: 100%;

  
  box-sizing: border-box;
}

.small-display {
  font-family: 'Roboto', sans-serif !important;
  font-size: small;
  padding: 5px 0px 5px 0px;
}

p {
  margin: 0px;
  width: 100%;
  box-sizing: border-box;
/*  
  text-overflow: ellipsis;
  white-space: nowrap;
  */
  overflow: hidden;
}

.button-calc {
  color: white;
  background-color: rgba(66,66,66,0.60) !important;
  cursor: pointer;
}

.button-calc:hover {
  color: white;
  background-color: rgba(44,44,44,0.40) !important;
}


.buttonera-container {
  text-align: center;
  /*display: inline-block;*/
}

#sd-input {
  float: left;
}

#sd-op {
  float: right;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                        supported by Chrome and Opera */
}

